name: Tests

on: [push]

jobs:
  python-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          override: true

      - name: install python dependencies
        run: pip3 install setuptools-rust nose
      
      - name: install python bindings
        run: python3 setup.py install --user

      - name: run Tests
        run: nosetests